-# coding: utf-8
!!!5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
%html.no-js{lang:"it",:"xmlns:fb" => "http://ogp.me/ns/fb#"}
  %head
    %meta{:charset => "utf-8"}

    %title
      = page_title

    = page_metas

    %link{ rel: "apple-touch-icon", sizes: "152x152", href: "apple-touch-icon-152x152-precomposed.png?v=1" }
    %link{ rel: "apple-touch-icon", sizes: "144x144", href: "apple-touch-icon-144x144-precomposed.png?v=1" }
    %link{ rel: "apple-touch-icon", sizes: "114x114", href: "apple-touch-icon-114x114-precomposed.png?v=1" }
    %link{ rel: "apple-touch-icon", sizes: "72x72", href: "apple-touch-icon-72x72-precomposed.png?v=1" }
    %link{ rel: "apple-touch-icon", href: "apple-touch-icon-precomposed.png?v=1" }
    %link{ rel: "shortcut icon", href: "favicon.png?v=1" }
    %link{ rel: "icon", type: "image/ico", href: "favicon.ico?v=1" }

    %link{href: "http://fonts.googleapis.com/css?family=Muli:400|Lato:300,400,700", rel: "stylesheet", type: "text/css"}/

    = javascript_include_tag "vendor/modernizr"

    /[if lt IE 9]
      <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
      <script src="/js/vendor/html5shiv.js"></script>
    
    = stylesheet_link_tag "application"
    :javascript
      (function (d, t) {
        var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
        bh.type = 'text/javascript';
        bh.src = '//www.bugherd.com/sidebarv2.js?apikey=2rdvyhrsh8pd46vszptoxq';
        s.parentNode.insertBefore(bh, s);
        })(document, 'script');
  %body
    = partial'partials/tag-manager'
    
    = yield

    


    






