#header
  #menu.active
    %a#nav-toggle{href:"#"}
      %span
  #menu-open
    .container
      %ul
        %li{:"data-menuanchor"=>"aboutus"}
          %a{href:"#aboutus"}
            = t("menu.li1")
        %li{:"data-menuanchor"=>"howwework"}
          %a{href:"#howwework"}
            = t("menu.li2")
        %li{:"data-menuanchor"=>"whatwedo"}
          %a{href:"#howwework/1"}
            = t("menu.li3")
        %li{:"data-menuanchor"=>"ourexperience"}
          %a{href:"#ourexperience"}
            = t("menu.li4")
        %li{:"data-menuanchor"=>"ourvalues"}
          %a{href:"#ourvalues"}
            = t("menu.li5")
        %li{:"data-menuanchor"=>"ourofficies"}
          %a{href:"#ourofficies"}
            = t("menu.li6")
        %li{:"data-menuanchor"=>"contactus"}
          %a{href:"#ourofficies/1"}
            = t("menu.li7")
  #lang
    %ul
      %li.en
        %a{href:"/"}
          EN
      %li.it
        %a{href:"/it/"}
          IT
