#ouroffices-section
  .container
    %h2.title
      = t("ourofficies.title")
    %p.main
      = t("ourofficies.main")
    .spacer
      %ul
        %li
          %h3
            MILANO
          %p
            Piazza 4 Novembre 7,
            %br/
            Milano,
            %br/
            20124 (ITALY)
            %br/

          = image_tag "vinyl_milan.png"
        %li
          %h3
            NEW YORK
          %p
            379 W. Broadway
            %br/
            New York, NY
            %br/
            10012 (USA)
            %br/
            %br/
          = image_tag "vinyl_new_york.png"
        %li
          %h3
            SAN FRANCISCO
          %p
            25 Taylor Street
            %br/
            San Francisco, CA
            %br/
            94102 (USA)
            %br/
            %br/
          = image_tag "vinyl_frisco.png"
    .arrow-right
      #contactus-link
        %span
          = t("contactus.title")
        .asset
  /.arrow-down.short
  /  %a{href:"#legal"}
  /    .asset
  /    %span
  /      = t("legal.title")
  .space
