#ourvalues-section
  .container
    %h2.title
      = t("ourvalues.title")
    %p.main
      = t("ourvalues.main")
    .spacer
      .value.one
        .text
          %h3
            = t("ourvalues.title1")
          %p
            = t("ourvalues.main1")
      .value.two
        .text
          %h3
            = t("ourvalues.title2")
          %p
            = t("ourvalues.main2")
      .value.three
        .text
          %h3
            = t("ourvalues.title3")
          %p
            = t("ourvalues.main3")
      .value.four
        .text
          %h3
            = t("ourvalues.title4")
          %p
            = t("ourvalues.main4")
  .arrow-down.short
    %a{href:"#partners"}
      .asset
      %span
        = t("partners.title")
  .space
