#partners-section
  .container

    %h2.title
      = t("partners.title")
    %p.main
      = t("partners.main")
    #partners-group
      .partner
        .avatar
          = image_tag "vinyl_chiovato.png"
        .info
          %h3.name
            Guido Chiovato
          %p.position
            CEO&Executive Partner
          %p.link
            %a{href:"#"}
              Profile

      .partner
        .avatar
          = image_tag "vinyl_sacco.png"
        .info
          %h3.name
            Elena Sacco
          %p.position
            Executive Partner
          %p.link
            %a{href:"#"}
              Profile

      .partner
        .avatar
          = image_tag "vinyl_caserta.png"
        .info
          %h3.name
            Marco Caserta
          %p.position
            Executive Partner
          %p.link
            %a{href:"#"}
              Profile

      .partner
        .avatar
          = image_tag "vinyl_rubulotta.png"
        .info
          %h3.name
            Roberto Rubulotta
          %p.position
            Digital Analytics & Technology Advisor
          %p.link
            %a{href:"#"}
              Profile

    .arrow-right
      .partners-link
        %span
          = t("partners.next")
        .asset
  .arrow-down.short
    %a{href:"#reasons"}
      .asset
      %span
        = t("reasons.title")
  .space
