#partners-section
  .container

    %h2.title
      = t("partners.title")
    %p.main
      = t("partners.main")
    #partners-group
      .partner
        .avatar
          = image_tag "vinyl_guido.png"
        .info
          %h3.name
            Guido Chiovato
          %p.position
            CEO&Executive Partner
          %p.link
            %a{href:"https://www.linkedin.com/profile/view?id=24769313&authType=OPENLINK&authToken=BtdS&locale=en_US&srchid=1593695961406283195615&srchindex=1&srchtotal=3&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A1593695961406283195615%2CVSRPtargetId%3A24769313%2CVSRPcmpt%3Aprimary", target: "_blank"}
              Linkedin profile
      .partner
        .avatar
          = image_tag "vinyl_adriano.png"
        .info
          %h3.name
            Adriano Marconetto
          %p.position
            Executive Partner
          %p.link
            %a{href:"https://www.linkedin.com/profile/view?id=16815118&authType=NAME_SEARCH&authToken=l0rt&locale=en_US&srchid=1593695961406283315801&srchindex=1&srchtotal=1&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A1593695961406283315801%2CVSRPtargetId%3A16815118%2CVSRPcmpt%3Aprimary", target: "_blank"}
              Linkedin profile
      .partner
        .avatar
          = image_tag "vinyl_marco.png"
        .info
          %h3.name
            Marco Caserta
          %p.position
            Executive Partner
          %p.link
            %a{href:"https://www.linkedin.com/profile/view?id=27003591&authType=NAME_SEARCH&authToken=bBxj&locale=en_US&srchid=1593695961406283346782&srchindex=1&srchtotal=10&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A1593695961406283346782%2CVSRPtargetId%3A27003591%2CVSRPcmpt%3Aprimary", target: "_blank"}
              Linkedin profile
    .arrow-left
      #aboutus-link
        %span
          = t("aboutus.title")
        .asset
  .space