#partners-section
  .container

    %h2.title
      = t("partners.title")
    %p.main
      = t("partners.main")
    #partners-group
      .partner
        .avatar
          = image_tag "vinyl_guido.png"
        .info
          %h3.name
            Guido Chiovato
          %p.position
            CEO&Executive Partner
          %p.link
            %a{href:"http://linkedinprofile.com", target: "_blank"}
              Linkedin profile
      .partner
        .avatar
          = image_tag "vinyl_adriano.png"
        .info
          %h3.name
            Adriano Marconetto
          %p.position
            Executive Partner
          %p.link
            %a{href:"http://linkedinprofile.com", target: "_blank"}
              Linkedin profile
      .partner
        .avatar
          = image_tag "vinyl_marco.png"
        .info
          %h3.name
            Marco Caserta
          %p.position
            Executive Partner
          %p.link
            %a{href:"http://linkedinprofile.com", target: "_blank"}
              Linkedin profile
    .arrow-left
      #aboutus-link
        %span
          = t("aboutus.title")
        .asset
  .space