#whatwedo-section
  .container
    %h2.title
      = t("whatwedo.title")
    %p.main
      = t("whatwedo.main")
    .spacer
      .left
        %ul
          %li.1
            = t("whatwedo.li1")
          %li.2
            = t("whatwedo.li2")
          %li.3
            = t("whatwedo.li3")
          %li.4
            = t("whatwedo.li4")
          %li.5
            = t("whatwedo.li5")
          %li.6
            = t("whatwedo.li6")
          %li.7
            = t("whatwedo.li7")
      .right
        %ul
          %li.8
            = t("whatwedo.li8")
          %li.9
            = t("whatwedo.li9")
          %li.10
            = t("whatwedo.li10")
          %li.11
            = t("whatwedo.li11")
          %li.12
            = t("whatwedo.li12")

    .arrow-left
      #howwework-link
        %span
          HOW WE WORK
        .asset

