---
title: "main page"
metas: "main"
---
= partial "partials/header"
= partial "partials/footer"
#fullpage
  .section#section0
    = partial "partials/landing"
  .section#section1.wide
    .slide#slide1
      = partial "partials/aboutus"
    .slide#slide2
      = partial "partials/partners"
  .section#section2.wide
    .slide#slide3
      = partial "partials/howwework"
    .slide#slide4
      = partial "partials/whatwedo"
  .section#section3.wide
    .slide#slide5
      = partial "partials/ourexperience"
    .slide#slide6
      = partial "partials/ourexperience2"
  .section#section4
    = partial "partials/ourvalues"
  .section#section5.wide
    .slide#slide7
      = partial "partials/ouroffices"
    .slide#slide8
      = partial "partials/contactus"
  .section#section6
    = partial "partials/legal"