---
title: "main page"
metas: "main"
---
= partial "partials/header"
= partial "partials/footer"
#fullpage
  .section#section0
    .slide#slide0
      = partial "partials/landing"
  .section#section1.wide
    .slide#slide1
      = partial "partials/aboutus"
    .slide#slide18
      = partial "partials/video"
  .section#section2.wide
    .slide#slide2
      = partial "partials/whatwedo"
    .slide#slide3
      = partial "partials/process"
  .section#section3.widest
    .slide#slide4
      = partial "partials/howwework"
    .slide#slide5
      = partial "partials/ourexperience"
    .slide#slide6
      = partial "partials/ourexperience2"
  .section#section4
    .slide#slide7
      = partial "partials/advantages"
  .section#section5
    .slide#slide8
      = partial "partials/ourvalues"
  .section#section6.superwide
    .slide#slide9
      = partial "partials/partners"
    .slide#slide10
      = partial "partials/chiovato"
    .slide#slide11
      = partial "partials/sacco"
    .slide#slide12
      = partial "partials/caserta"
    .slide#slide13
      = partial "partials/rubulotta"
  .section#section7.wide
    .slide#slide14
      = partial "partials/reasons"
    .slide#slide15
      = partial "partials/thename"
  .section#section8.wide
    .slide#slide16
      = partial "partials/ouroffices"
    .slide#slide17
      = partial "partials/contactus"
