---
title: "main page"
metas: "main"
---


%a{href:"http://www.vinylunited.com?utm_source=logo&utm_medium=email&utm_content=website&utm_campaign=Signature", style:"color:#65666A; text-decoration:none"}
  = image_tag "VINYLUNITED_logo-firmadigitale2.png", class:"signature", width:"80", height:"80"

%p.signature
  %span Guido Chiovato | CEO  Executive Partner
  %br/
  %a{href: "#", style: "color:#65666A; text-decoration:none"} +39 335 6109818
  \- skype: guido_chiovato
  %br/
  %a{href: "#", style: "color:#65666A; text-decoration:none"} guido.chiovato@vinylunited.com
  %br/
  %a{href: "http://www.vinylunited.com?utm_source=signature&utm_medium=email&utm_content=website&utm_campaign=Signature", style: "color:#65666A; text-decoration:none"} www.vinylunited.com
  %br/
  %span.cities Milan · New York · San Francisco

%br/
%br/
%br/




%a{href:"http://www.vinylunited.com?utm_source=logo&utm_medium=email&utm_content=website&utm_campaign=Signature", style:"color:#65666A; text-decoration:none"}
  = image_tag "VINYLUNITED_logo-firmadigitale2.png", class:"signature", width:"80", height:"80"

%p.signature
  %span Adriano Marconetto | Executive Partner
  %br/
  %a{href: "#", style: "color:#65666A; text-decoration:none"} +39 348 7063066
  \- skype: adriano.marconetto
  %br/
  %a{href: "#", style: "color:#65666A; text-decoration:none"} adriano.marconetto@vinylunited.com
  %br/
  %a{href: "http://www.vinylunited.com?utm_source=signature&utm_medium=email&utm_content=website&utm_campaign=Signature", style: "color:#65666A; text-decoration:none"} www.vinylunited.com
  %br/
  %span.cities Milan · New York · San Francisco

%br/
%br/
%br/



%a{href:"http://www.vinylunited.com?utm_source=logo&utm_medium=email&utm_content=website&utm_campaign=Signature", style:"color:#65666A; text-decoration:none"}
  = image_tag "VINYLUNITED_logo-firmadigitale2.png", class:"signature", width:"80", height:"80"

%p.signature
  %span Marco Caserta | Executive Partner
  %br/
  %a{href: "#", style: "color:#65666A; text-decoration:none"} +39 335 7379043
  \- skype: marco.caserta7
  %br/
  %a{href: "#", style: "color:#65666A; text-decoration:none"} marco.caserta@vinylunited.com
  %br/
  %a{href: "http://www.vinylunited.com?utm_source=signature&utm_medium=email&utm_content=website&utm_campaign=Signature", style: "color:#65666A; text-decoration:none"} www.vinylunited.com
  %br/
  %span.cities Milan · New York · San Francisco

%br/
%br/
%br/


%a{href:"http://www.vinylunited.com?utm_source=logo&utm_medium=email&utm_content=website&utm_campaign=Signature", style:"color:#65666A; text-decoration:none"}
  = image_tag "VINYLUNITED_logo-firmadigitale2.png", class:"signature", width:"80", height:"80"

%p.signature
  %span Elena Sacco | Executive Partner
  %br/
  %a{href: "#", style: "color:#65666A; text-decoration:none"} +39 331 2308000
  \- skype: elena.sacco
  %br/
  %a{href: "#", style: "color:#65666A; text-decoration:none"} elena.sacco@vinylunited.com
  %br/
  %a{href: "http://www.vinylunited.com?utm_source=signature&utm_medium=email&utm_content=website&utm_campaign=Signature", style: "color:#65666A; text-decoration:none"} www.vinylunited.com
  %br/
  %span.cities Milan · New York · San Francisco

%br/
%br/
%br/

%a{href:"http://www.vinylunited.com?utm_source=logo&utm_medium=email&utm_content=website&utm_campaign=Signature", style:"color:#65666A; text-decoration:none"}
  = image_tag "VINYLUNITED_logo-firmadigitale2.png", class:"signature", width:"80", height:"80"

%p.signature
  %span Kirsten Elin | Regional Representative - North America
  %br/
  %a{href: "#", style: "color:#65666A; text-decoration:none"} kirsten.elin@vinylunited.com
  %br/
  %a{href: "http://www.vinylunited.com?utm_source=signature&utm_medium=email&utm_content=website&utm_campaign=Signature", style: "color:#65666A; text-decoration:none"} www.vinylunited.com
  %br/
  %span.cities Milan · New York · San Francisco

%br/
%br/
%br/
